{% extends "home.html" %}
{% block addbook %}
{#    #Aggiungi Libro#}
    <h3>Aggiungi un libro</h3>
    <form action="" method="post" novalidate>
        {% csrf_token %}

        {% for field in formLibro %}
        <div class="form-group">
            {{ form.subject.errors }}
            <label for="{{ field.id_for_label }}">{{ field.label_tag}}</label>
            {{ field }}
        </div>
    {% endfor %}
             <input type="submit" value="Aggiungi">
    </form>
    {#    Aggingi Editore#}
    <h3>Aggiungi un Editore</h3>
    <form action="" method="post" novalidate>
        {% csrf_token %}
        {{ formEditore.as_table }}
        <input type="submit" value="Aggiungi">
    </form>

    {#    Aggiungi Autore#}
    <h3>Aggiungi un Autore</h3>
    <form action="" method="post" novalidate>
        {% csrf_token %}
        {{ formAutore.as_table }}
        <input type="submit" value="Aggiungi">
    </form>
    {% if libro %}
        <p>Libro creato in DB: id {{ libro.id }}</p>
        {{ libro }}
        {#        {% for  key,value in libro.items %}#}
        {#            <p>{{ key}}: {{ value }}</p>#}
        {#        {% endfor %}#}
    {% else %}
        <p>Libro non creato</p>

    {% endif %}

{% endblock %}
{% block listalibri %}
<hr>
    <h2>Lista dei libri disponibili</h2>

    <table class="table" id="result">
    <thead>
    <th>titolo</th>
    <th>autore</th>
    <th>editore</th>
    <th>anno</th>

    {% for libro in libri %}
        <tr>
        <td>{{ libro.titolo }}</td>
        <td>{{ libro.autore }}</td>
        <td>{{ libro.editore }}</td>
        <td>{{ libro.anno }}</td></tr>
    {% endfor %}
    </thead>
    </table>
    <script type="text/javascript">
    let table = new DataTable('#result');

    </script>

{% endblock %}