{% extends "home.html" %}
{% block addbook %}
    {#    #Aggiungi Libro#}
    <div class="card p-3">
        <div class="p-2 card-header-tabs"><h3>Aggiungi un libro</h3></div>

        <form action="{% url 'add_libro' %}" method="post" novalidate>
            {% csrf_token %}
            <div class="row">
                {% for field in formLibro %}
                    <div class="col-md-4 p-2">
                        {{ form.subject.errors }}
                        <label for="{{ field.id_for_label }}">{{ field.label_tag }}</label>

                        {{ field }}
                        <br><span class="alert-warning">{{ field.help_text }}</span>
                    </div>
                {% endfor %}
            </div>
            <input type="submit" value="Aggiungi">
        </form>
    <div class="alert-info">Se un autore o un editore non sono presenti nell'elenco precedente, aggiungerli con i form sottostanti</div>
    </div>
    {#    Aggingi Editore#}
    <div class="card p-3">
        <div class="p-2 card-header-tabs"><h3>Aggiungi un Editore</h3></div>
        <form action="{% url 'add_editore' %}" method="post" novalidate>
            {% csrf_token %}
            <div class="row">

                {% for field in formEditore %}
                    <div class="col-md-4 p-2">
                        {{ form.subject.errors }}
                        <label for="{{ field.id_for_label }}">{{ field.label_tag }}</label>
                        {{ field }}
                    <br><span class="alert-warning">{{ field.help_text }}</span>
                    </div>
                {% endfor %}
            </div>
            <input type="submit" value="Aggiungi">
        </form>
    </div>

    {#    Aggiungi Autore#}
    <div class="card p-3">
    <div class="p-2 card-header-tabs"><h3>Aggiungi un Autore</h3></div>
       <form action="{% url 'add_autore' %}" method="post" novalidate>
            {% csrf_token %}
            <div class="row">

                {% for field in formAutore %}
                    <div class="col-md-4 p-2">
                        {{ form.subject.errors }}
                        <label for="{{ field.id_for_label }}">{{ field.label_tag }}</label>
                        {{ field }}
                    <br><span class="alert-warning">{{ field.help_text }}</span>
                    </div>
                {% endfor %}
            </div>
            <input type="submit" value="Aggiungi">
       </form></div>





    {% if libro %}
        <p>Libro creato in DB: id {{ libro.id }}</p>
        {{ libro }}
        {#        {% for  key,value in libro.items %}#}
        {#            <p>{{ key}}: {{ value }}</p>#}
        {#        {% endfor %}#}

    {% endif %}

{% endblock %}
{% block listalibri %}
    <hr>
    <h2>Lista dei libri disponibili</h2>

    <table class="table table-striped" id="result">
        <thead>
        <th>titolo</th>
        <th>autore</th>
        <th>editore</th>
        <th>anno</th>

        {% for libro in libri %}
            <tr>
                <td>{{ libro.titolo }}</td>
                {#        Estrazione relatori multipli#}
                <td>{{ libro.autore.all | join:' , '}}</td>
                <td>{{ libro.editore }}</td>
                <td>{{ libro.anno_edizione }}</td>
            </tr>
        {% endfor %}
        </thead>
    </table>


    <script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.24/js/dataTables.bootstrap4.min.js"></script>

<script>
{#Parametri Data table#}
    $(document).ready(function () {
    $('#result').DataTable( {
        "paging": true,
        "searching": true,
        "autoWidth": true,
        "ordering": true,
        "columnDefs": [
            {"width": "250px", "targets": 0},
            {"width": "250px", "targets": 1},
        ],
    }
    );
} );
</script>

{% endblock %}