{% extends "home.html" %}
{% block addbook %}
    {#    #Aggiungi Libro#}
    <div class="card p-3">
        <div class="p-2 card-header-tabs"><h3>Aggiungi un libro</h3></div>

        <form action="{% url 'add_libro' %}" method="post" novalidate>
            {% csrf_token %}
            <div class="row">
                {% for field in formLibro %}
                    <div class="col-md-4 p-2">
                        {{ form.subject.errors }}
                        <label for="{{ field.id_for_label }}">{{ field.label_tag }}</label>

                        {{ field }}
                        <br><span class="alert-warning">{{ field.help_text }}</span>
                    </div>
                {% endfor %}
            </div>
            <input type="submit" value="Aggiungi">
        </form>
    </div>
    {#    Aggingi Editore#}
    <div class="card p-3">
        <div class="p-2 card-header-tabs"><h3>Aggiungi un Editore</h3></div>
        <form action="{% url 'add_editore' %}" method="post" novalidate>
            {% csrf_token %}
            <div class="row">

                {% for field in formEditore %}
                    <div class="col-md-4 p-2">
                        {{ form.subject.errors }}
                        <label for="{{ field.id_for_label }}">{{ field.label_tag }}</label>
                        {{ field }}
                    <br><span class="alert-warning">{{ field.help_text }}</span>
                    </div>
                {% endfor %}
            </div>
            <input type="submit" value="Aggiungi">
        </form>
    </div>

    {#    Aggiungi Autore#}
    <div class="card p-3">
    <div class="p-2 card-header-tabs"><h3>Aggiungi un Autore</h3></div>
       <form action="{% url 'add_autore' %}" method="post" novalidate>
            {% csrf_token %}
            <div class="row">

                {% for field in formAutore %}
                    <div class="col-md-4 p-2">
                        {{ form.subject.errors }}
                        <label for="{{ field.id_for_label }}">{{ field.label_tag }}</label>
                        {{ field }}
                    <br><span class="alert-warning">{{ field.help_text }}</span>
                    </div>
                {% endfor %}
            </div>
            <input type="submit" value="Aggiungi">
       </form></div>





    {% if libro %}
        <p>Libro creato in DB: id {{ libro.id }}</p>
        {{ libro }}
        {#        {% for  key,value in libro.items %}#}
        {#            <p>{{ key}}: {{ value }}</p>#}
        {#        {% endfor %}#}

    {% endif %}

{% endblock %}
{% block listalibri %}
    <hr>
    <h2>Lista dei libri disponibili</h2>

    <table class="table" id="result">
        <thead>
        <th>titolo</th>
        <th>autore</th>
        <th>editore</th>
        <th>anno</th>

        {% for libro in libri %}
            <tr>
                <td>{{ libro.titolo }}</td>
                {#        Estrazione relatori multipli#}
                <td>{% for autor in libro.autore.all %}{{ autor }}{% endfor %}</td>
                <td>{{ libro.editore }}</td>
                <td>{{ libro.anno_edizione }}</td>
            </tr>
        {% endfor %}
        </thead>
    </table>
    <script type="text/javascript">
        let table = new DataTable('#result');
    </script>

{% endblock %}